#!/usr/bin/env bash

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

# If set, the pattern ** used in a pathname expansion context will match all files and zero or more directories
# and subdirectories.  If the pattern is followed by a /, only directories and subdirectories match
shopt -s globstar

# Bash replaces directory names with the results of word expansion when performing filename completion
# Otherwise, It will escape `$` in variable names when pressing tab
shopt -s direxpand

{{if eq .chezmoi.osRelease.id "ubuntu" }}
. /usr/share/bash-completion/bash_completion
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

export BASH_SCRIPTS=$(dirname {{ .chezmoi.sourceDir }})/scripts/bash
. $BASH_SCRIPTS/init.bash

{{- if eq .chezmoi.osRelease.id "arch" }}
upgrade_command_not_found
{{- end }}
